---
layout: archive
---

<div class="wrapper" style="display: flex;">
  <div class="main" style="flex: 1;">

		{{ content }}

		
		<div class="homepage-text" style="font-size: 20px;display: inline-block;
  vertical-align: top; width: calc(100% + 300px);">
		{% capture homepage_text %}{% include homepage-text.md %}{% endcapture %}
		{{ homepage_text | markdownify }}
		</div>

		<h2 class="archive__subtitle">Recent News</h2>

		<div class="recent-text" style="font-size: 14px">
			
		{% capture recent_text %}{% include recent-text.md %}{% endcapture %}
		{{ recent_text | markdownify }}
		</div>


		</div>
	</div>