---
layout: archive
---

<div class="wrapper" style="display: flex; width: 100%;"> <!-- Ensure wrapper spans full width -->
  <div class="main" style="flex: 9; width: 75%;"> <!-- Adjusted flex value and width -->
    
    {{ content }}

    <div class="homepage-text" style="font-size: 16px; display: inline-block; vertical-align: top; width: 100%;">
      {% capture homepage_text %}{% include homepage-text.md %}{% endcapture %}
      {{ homepage_text | markdownify }}
    </div>

    <h2 class="archive__subtitle">Recent News</h2>

    <div class="recent-text" style="font-size: 14px">
      {% capture recent_text %}{% include recent-text.md %}{% endcapture %}
      {{ recent_text | markdownify }}
    </div>

  </div>
  
  
