---
layout: archive
---


{{ content }}



<h2 class="archive__subtitle">Conference Papers</h2>

<div class="conference-text" style="font-size: 16px;display: inline-block;
  vertical-align: top; width: calc(100% + 300px);">
		{% capture conference_text %}{% include conference-text.md %}{% endcapture %}
		{{ conference_text | markdownify }}
</div>

<h2 class="archive__subtitle">Journal Papers</h2>

<div class="conference-text" style="font-size: 16px;display: inline-block;
  vertical-align: top; width: calc(100% + 300px);">
		{% capture conference_text %}{% include journal-text.md %}{% endcapture %}
		{{ conference_text | markdownify }}
</div>

<h2 class="archive__subtitle">Posters</h2>

<div class="posters-text" style="font-size: 16px;display: inline-block;
  vertical-align: top; width: calc(100% + 300px);">
		{% capture posters_text %}{% include posters-text.md %}{% endcapture %}
		{{ posters_text | markdownify }}
</div>
